# Windows image file caches
Thumbs.db
ehthumbs.db
.suo
.userprefs
.vs
bin/
obj/
packages

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Other not needed files
*.cache

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


LacunaExpress.userprefs
*.cache
LacunaExpress/LacunaExpress.iOS/obj/iPhone/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.cache
LacunaExpress/LacunaExpress.iOS/obj/iPhone/Debug/DesignTimeResolveAssemblyReferencesInput.cache
LacunaExpress/LacunaExpress.iOS/obj/iPhone/Debug/DesignTimeResolveAssemblyReferencesInput.cache
