

<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>SpeedStealth™</title>
	<link href="/css/main.css" rel="stylesheet" type="text/css">
	<link href="/css/rte-styles.css" rel="stylesheet" type="text/css">

	<link href="http://fonts.googleapis.com/css?family=Raleway:400,100,500,300,700,600" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,300,400,700,600,800" rel="stylesheet" type="text/css">
	<!-- google font -->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.cycle/2.99/jquery.cycle.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular-cookies.min.js"></script>
	<script type="text/javascript" src="/media/1001/countup.js"></script>
	<script type="text/javascript" src="/scripts/subscribe.js"></script>
	<script type="text/javascript">

$(function(){

		//Commenting out until I can get responsive working
	$('.slider').cycle({
		fx:'fade',
		speed:1000,
		timeout: 4000,
		next:'.next',
		prev:'.prev',
	});

});
	</script>
</head>
<body>




	<header class="home">
		<div class="wrapper no_pad_tlr">
			<a href="index" class="logo"><img src="/media/1036/logo.png " alt="" /></a><a class="download" href="/index/my-account/#/register">download</a>
			<nav class="header">
				<ul>
					<li><a href="/index#what">what is it?</a></li>
					<li><a href="/index#how">how it works</a></li>
					<li><a href="/index#who">who’s it for?</a></li>
					<li><a href="/index/support">support</a></li>
					<li><a href="/index/my-account/#/account">my account</a></li>
				</ul>
			</nav>
		</div>
	</header>




	<section class="slider_container">
		<div class="wrapper">
			<ul class="slider">
				<li>
					<div class="left_slide"> <img src="/media/1055/slide_img1.png" alt=""> </div>
					<div class="right_slide">
						<h3 class="none">
							Faster internet <br>
							Everywhere!™
						</h3>
						<a class="grey" href="#what">learn more</a> <a class="green" href="/index/my-account/#/register">download</a>
					</div>
				</li>
				<li>
					<div class="left_slide"> <img src="/media/1057/slide_img2.png" alt=""> </div>
					<div class="right_slide left_aligne">
						<h4>Increase Internet speed up to</h4>
						<strong>10x</strong>

						<h4>We don't make the network. We make The Net WORK!™</h4>
						<a class="green" href="/index/my-account/#/register">download</a> <a class="grey" href="#what">learn more</a>
					</div>
				</li>
				<li>
					<div class="left_slide"> <img src="/media/1049/slide_img3.png" alt=""> </div>
					<div class="right_slide center_aligne">
						<h4>
							Any connection, anytime...
							speed up
						</h4>
						<p>
							Home Internet<br>
							Work Connection<br>
							Mobile Data Plan<br>
							Travel & Hotel Wi-Fi <br>
							Retail Hotspots<br>

						</p>
						<a class="green" href="/index/my-account/#/register">download</a> <a class="grey" href="#what">learn more</a>
					</div>
				</li>
			</ul>
			<a href="#" class="next"></a> <a href="#" class="prev"></a>
			<div class="clear"></div>
		</div>
		<div class="wrapper">
			<ul class="os-download-btns">
				<li>
					<a href="/index/let-me-know">
						<img alt="Download for Windows" src="/media/1136/SmButton-Windows-Desktop-Grey.png" height="40" width="144" />
					</a>
				</li>
				<li>
					<a href="/index/let-me-know">
						<img alt="Download on the windows store" src="/media/1138/SmButton-Windows-Mobile-Grey.png" height="40" width="144" />
					</a>
				</li>

				<li>
					<a href="/index/let-me-know">
						<img alt="Download for Android" src="/media/1127/SmButton-Android-Grey.png" height="40" width="144" />
					</a>
				</li>

				<li>
					<a href="/index/my-account/#/register">
						<img alt="Download for Mac" src="/media/1134/SmButton-Mac-Grey.png" height="40" width="144" />
					</a>
				</li>

				<li>
					<a href="/index/let-me-know">
						<img alt="Download for iOS" src="/media/1132/SmButton-iPhone-grey.png" height="40" width="144" />
					</a>
				</li>

				<li>
					<a href="/index/my-account/#/register">
						<img src="/media/1133/SmButton-Linux-Blue.png" height="40" width="144" />
					</a>
				</li>
			</ul>
		</div>
	</section>
	<!--<section id="saved">OVER <span id="counter">0</span> GIGABITS SAVED</section>-->
	<section id="saved">THOUSANDS OF GIGABITS SAVED</section>
	<section class="bodycontainer">
		<div class="banner_landing2 home">
			<div class="wrapper">
				<div class="heading_wrap">
					<h3 class="white"> See immediate results </h3>
				</div>
				<div class="col">
					<span>Average Free Wi-Fi</span>
					<div class="laptop-img">
						<img class="laptop" src="/media/1045/screen_img.png" alt="">
						<div class="laptop-content-wrapper">
							<img class="laptop-content" src='/media/1077/snail.png' />
						</div>

					</div>
					<p>Avg Speed: 120 kbs <br /> Avg Page Load: 8 secs <br /> Youtube Buffer: 25 secs <br /> Netflix Buffer: 31 secs</p>
					<a href="/index/my-account/#/register" class="green">download</a>
				</div>
				<div class="col">
					<span>Average Free Wi-Fi with SpeedStealth&trade;</span>
					<div class="laptop-img">
						<img class="laptop" src="/media/1045/screen_img.png" alt="">
						<div class="laptop-content-wrapper">
							<img class="laptop-content" src='/media/1076/car.png' />
						</div>
					</div>
					<p>Avg Speed: 1120 kbs <br /> Avg Page Load: 2 secs <br /> Youtube Buffer: 3 secs <br /> Netflix Buffer: 5 secs</p>

					<a href="#what" class="grey">learn more</a>
				</div>
				<div class="clear"></div>
			</div>

		</div>

		<div class="content_container">
			<span class="brd"></span>
			<div class="wrapper">
				<div class="heading_wrap">
					<a name="what">
						<h3>
							End the frustration of slow Internet
						</h3>
					</a>
				</div>
				<ul class="benefits">
					<li class="speed">
						<span>Get the speed you’ve been paying for</span>
						<a name="speed"></a><p><a href="/index/my-account/#/register" target="_parent" title="SpeedStealth™  Registration">SpeedStealth </a>offers a powerful cost-effective alternative to paying for a bigger connection to solve your performance problems.  Our technology enhances your connection by breaking through the traffic jams and eliminating packet loss getting your data delivered faster and for less cost.  <a href="/index/my-account/#/register">DOWNLOAD SPEEDSTEALTH</a></p>
						<p> </p>
						<p><strong>Cabled Internet Networks:</strong> Want to boost your connection and lower your contract? <a href="/index/my-account/#/register">DOWNLOAD SPEEDSTEALTH</a></p>
						<p> </p>
						<p><strong>Mobile Internet Networks:</strong> SpeedStealth conserves data plan usage eliminating wasted redundant traffic.  We deliver data more reliably so you can lower your data plan while still getting better service!! <a href="/index/my-account/#/register">DOWNLOAD SPEEDSTEALTH</a></p>
					</li>
					<li class="waste">
						<span>Stop wasting time</span>
						<a name="time"></a><p>Faster Internet means less time wasted waiting for files to download, pages to load or pictures to upload. You waste less time staring at a blank screen or spinning clock. Everything moves faster with SpeedStealth!</p>
						<p> </p>
						<p>SpeedStealth’s unique patented software bypasses Internet congestion and remedies lost Internet packets to ensure quicker, more reliable, more secure delivery of everything from the smallest e-mail or text to the largest download.</p>
						<p> </p>
						<p>Better performance and more convenience when surfing the web can be the advantage that means victory in on-line games, rapidly researching content before a meeting, better Skype calls and webcam video or, when you are down to the last seconds on an auction bidding war, the difference between victory and defeat.</p>
						<p> </p>
					</li>
					<li class="businessman">
						<span>Stop wasting money every month</span>
						<p>BANDWIDTH AND DATA COST MONEY! Every day the amount you need keeps increasing, and so does your Internet and mobile bill. </p>
						<p>We can help! <a href="/index/my-account/#/register">Download</a> SpeedStealth™</p>
						<p> </p>
						<p>Ever wonder why that very expensive big 30Mbps Internet connection takes so long to transfer a fairly small file? </p>
						<p> </p>
						<p>The way the Internet works . . .  you don't get the see your download until it arrives.  and rarely do you get a full set of data packets when they are sent.  So, they are sent again, and again, and again until they all arrive in order. That takes time and bandwidth, both of which cost you!  Cut those costs with <a href="/index/my-account/#/register" target="_parent" title="SpeedStealth™  Registration">SpeedStealth</a>!!</p>
						<p> </p>
						<p>In a perfect network a 30Mbps connection should move a 10MB file in under 3 seconds! Here's the math: 10M bytes x 8 bits in a byte = 80M bits transferred at 30M bits per second = 2.6 seconds. When have you ever received a 10MB file in 2.6 seconds?</p>
						<p> </p>
						<p><strong>SpeedStealth™ technology moves packets more intelligently, <strong>eliminating wasted transmission</strong> making The Net WORK more perfectly!<br /></strong></p>
						<p> </p>
						<p>SpeedStealth is a bit of patented science made into a small software application that gets those net WORK data packets to you faster, and much more reliably. Once you Sign Up and download SpeedStealth, nothing more is required – SpeedStealth works in the background to speed up all applicable Internet and data traffic on your computer or mobile device.</p>
						<p> </p>
						<p>So much faster that you may be able to drop to a lower Internet contract or lower data usage plan and save 2-3 times what our software costs.</p>
						<p> </p>
						<p><strong>Bandwidth is expensive!</strong> Stop wasting money by paying for speed you never get to use. Whether on mobile, your desktop, or on the road with the laptop, SpeedStealth will maximize savings while increasing your Internet speeds. You don’t have to be at the will of your ISP or mobile carrier anymore.</p>
						<p> </p>
					</li>
				</ul>
			</div>
		</div>

		<div class="work_contr">
			<div class="wrapper">
				<div class="heading_wrap">
					<h3>
						How it works
					</h3>
				</div>
				<img style="width: 100%" src="/media/1086/arrow-gif.gif" />

				<p>SpeedStealth  optimizes Internet traffic between your device and the Internet. From any site, to any site, we reduce or eliminate retransmission delays. Slow internet is caused by heavy Internet traffic and packet loss. SpeedStealth creates a custom ‘fast lane’ and virtually eliminates the effects of lost packets dramatically speeding-up your Internet experience.</p>
				<p>&gt; SpeedStealth technology accelerates packet delivery and protects your content by increasing the security of data and video transmissions across insecure connections.</p>
				<p>&gt; SpeedStealth software places a unique translation of the incoming data around the data being sent, making it difficult for someone to accidentally or intentionally intercept and decode the content.</p>
				<p>&gt; SpeedStealth security layer adds to any security or encryption already being used, so your content is virtually unrecognizable and unreadable until it reaches its destination.</p>

			</div><!--end .wrapper-->

			<img src="/media/1060/traffic.png" class="aligncenter p5">
			<h2>result: up to 10x faster Internet and Mobile data!</h2>
		</div><!--end work_contr-->


		<a name="who"></a>
		<div class="home_contr_1">
			<div class="wrapper">
				<div class="heading_wrap">
					<h3 class="white">
						Who’s it for? EVERYONE!
					</h3>
				</div>
				<div class="text">
					<h4>business people & travelers</h4>
					<p><strong>Anyone on a ‘guest’ Wi-Fi network!</strong></p>
					<p> </p>
					<p><em><strong>Road Warrior?</strong></em>   5 days. 3 cities. 3 mobile and 5 Wi-Fi networks, all under-sized for the job.  FIVE DAYS OF BAD INTERNET? Not anymore!! SpeedStealth solves the problem!</p>
					<p><em><strong>Leisure Traveler?</strong></em>   Checking out a big city like San Francisco or roaming through some national parks, a few hotels, coffee shops, restaurants, museums, friends/families house on a bunch of secured and/or slow Wi-Fi Hotspots or expensive Mobile Roaming networks? SpeedStealth solves the problem!</p>
					<p>Many <strong>networks</strong> on your journey just don’t <span>deliver </span>great performance. They might be supporting hundreds of users on old equipment or insufficient connections at the airport or at the hotel. And, if they don’t have Wi-Fi you have to use your mobile data plan, which is slow AND expensive!</p>
					<p>Because traveling is prime time, the last thing you want is a slow Internet connection or extra "Premium Service" charges just to do your job. SpeedStealth solves the problem!</p>
					<p>Need to do a demo for a customer or a prospect? Demo on-line? There is nothing worse than a slow connection when you are trying to show a customer how great your company is, or how well you can service them. What do you say while you’re waiting for the screen to load; ‘when implemented, our software is much faster than this’? Bad Plan!</p>
					<p>Business people and Travelers can use SpeedStealth to overcome these challenges at home and abroad to enhance performance online at every location for a faster, safer, less expensive and more productive online journey! Try it out and see for yourself.</p>
					<p>We don't make Wi-Fi networ<a href="/umbraco/" class="btn btn-success"></a>ks or hotspots! </p>
					<p>WE MAKE WI-FI NETWORKS AND HOTSPOTS BETTER!</p>
					<a class="green" href="/index/my-account/#/register">download</a> <a class="grey" href="#what">learn more</a>
				</div>
			</div>
		</div>
		<div class="home_contr_2">
			<div class="wrapper">
				<div class="text">
					<h4>casual & hardcore gamers</h4>
					<p>Game Better with SpeedStealth!</p>
					<p>44 percent of the world’s online population are gamers, spending about 22hrs a week gaming.</p>
					<p>That's a lot of time (almost 3 working days) SpeedStealth can help you get through those games faster so everyone has more fun and more time! We estimate we can save gamers approximately 6-8 hours/week or if your committed to those gaming hours you could play up to 30% more! </p>
					<p>When you play online real-time multi-player video games, you’re sending large amounts of data between your computer or gaming console and the Internet. Faster can mean SpeedStealth can help you WIN!</p>
					<p>Improving downloading, uploading and latency. . . we move Internet traffic more efficiently!</p>
					<p>But you don’t just need fast speeds. You also need fast, <strong><em>consistent</em></strong> speeds. You want to be on Internet connections that are fast all the time any time and wherever you want to game. </p>
					<p>SpeedStealth<em><strong>™</strong></em> on any device travels with you!  Any network, everywhere will be faster! </p>
					<p>We don't make online games!</p>
					<p>WE MAKE YOUR ONLINE GAMES BETTER!</p>
					<a class="grey" href="#what">learn more</a> <a class="green" href="/index/my-account/#/register">download</a>
				</div>
			</div>
		</div>
		<div class="home_contr_3">
			<div class="wrapper">
				<div class="text">
					<h4>every computer or mobile user</h4>
					<p>By consolidating traffic using our patented SpeedStealth technology, we can get faster delivery while using less of your data plan. That opens up all kinds of possibilities like (1) lowering your plan size and cost; (2) get things done faster; (3) get more content for the same price; and (4) a lot less frustration and worry.  And this is especially valuable if your carrier ‘throttles’ your connection at a certain point!</p>
					<p>Depending on which network you are on, more than 30% of your packet delivery over your ISP or mobile plan could be retransmission requests – and even though it's their network that didn’t deliver them the first time, they still charge you for that. </p>
					<p>That is the foundation of our service. Even if packets are discarded or lost in transmission our technology helps your device rebuild dropped content WITHOUT HAVING TO MAKE A SECOND REQUEST and use up your precious time and in many cases, money. Much less duplicate traffic over your connection!</p>
					<p>We don't make your network.</p>
					<p>WE MAKE YOUR NET WORK BETTER!</p>
					<a class="green" href="/index/my-account/#/register">download</a> <a class="grey" href="#what">learn more</a>
				</div>
				<div class="clear"></div>
			</div>

		</div>
		</div>
		<div class="download_contr home">
			<div class="wrapper">
				<h4>download now. free 5 day trial.</h4>
				<ul>
					<li>
						<a href="/index/let-me-know">
							<img alt="Download for Windows" src="/media/1143/Windows-Desktop-Grey-Button.png" height="60" width="217" />
						</a>
					</li>
					<li>
						<a href="/index/let-me-know">
							<img alt="Download on the windows store" src="/media/1140/Window-Mobile-Grey-Button.png" height="60" width="217" />
						</a>
					</li>

					<li>
						<a href="/index/let-me-know">
							<img alt="Download for Android" src="/media/1124/Android-Grey-Button.png" height="60" width="217" />
						</a>
					</li>

					<li>
						<a href="/index/let-me-know">
							<img alt="Download for Mac" src="/media/1128/Mac-Desktop-Grey-Button.png" height="60" width="217" />
						</a>
					</li>

					<li>
						<a href="/index/let-me-know">
							<img alt="Download for iOS" src="/media/1122/iPhone-Grey-Button.png" height="60" width="217" />
						</a>
					</li>

					<li>
						<a href="/index/my-account/#/register">
							<img src="/media/1123/Linux-Blue-Button.png" height="60" width="217" />
						</a>
					</li>




				</ul>


				<ul>
					<li><a href="https://www.facebook.com/makeitspeedy" target="_new"><img src="/media/1027/face.jpg" alt=""></a></li>
					<li><a href="https://twitter.com/speedstealth" target="_new"><img src="/media/1068/twitter2.jpg" alt=""></a></li>
					<!--
							<li><a href="#"><img src="/media/1031/insta.jpg" alt=""></a></li>
					-->
					<li><a href="https://www.pinterest.com/speedstealth/" target="_new"><img src="/media/1043/print.jpg"></a></li>
					<li><a href="https://www.linkedin.com/company/6374347" target="_new"><img src="/media/1072/linkedin.png"></a></li>
					<!--
							<li><a href="#"><img src="/media/1029/gmail.jpg" alt=""></a></li>
					 -->
				</ul>

				<p><a href="mailto:sales@speedstealth.com">contact us</a> for business &amp; enterprise solutions</p>
			</div>
		</div>
		<!--
		  <div class="mail_contr">
			<div class="wrapper">
			  <h4>stay up to date.</h4>
			  <form action="mailto:sales@speedstealth.com">
				<fieldset>
				  <input type="text" value="Youremail@yourdomain.com" onclick="if(this.value=='youremail@yourdomain.com'){this.value=''}" onblur="if(this.value==''){this.value='name@yourdomain.com'}">
				  <p>your information is safe with us. see our <a href="#">privacy policy.</a></p>
				  <input type="button" value="submit">
				</fieldset>
			  </form>
			</div>
		  </div>
		-->
	</section>
	<script type="text/javascript">
 var options = {
        useEasing : true, // toggle easing
        useGrouping : true, // 1,000,000 vs 1000000
        separator : '', // character to use as a separator
        decimal : '', // character to use as a decimal
    }
    var useOnComplete = false;
    var useEasing = true;
    var useGrouping = true;
    var demo, code, data, stars;
    // create instance
    window.onload = function() {
        // setup countUp object
        demo = new countUp('counter', 0, 2345, 0, 2.5, options);
        demo.start()
    }
	</script>
	<div ng-app="subscribe" ng-controller="SubscribeCtrl as vm" class="ng-cloak">
		<div class="mail_contr" ng-if="vm.show">
			<div class="wrapper">
				<h4>stay up to date.</h4>

				<form name="frmSubscribe" novalidate>
					<fieldset>
						<input type="email" placeholder="youremail@yourdomain.com" ng-model="vm.email" required ng-keyup="$event.keyCode == 13 && !frmSubscribe.$invalid && vm.submit()">

						<p>your information is safe with use. see our <a href="/privacy">privacy policy.</a></p>
						<input type="button" value="submit" ng-click="vm.submit()" ng-disable="frmSubscribe.$invalid">
					</fieldset>
				</form>
			</div>
		</div>
		<div class="mail_contr" ng-if="!vm.show && vm.msg">
			<div class="wrapper">
				<h4>{{vm.msg}}</h4>
			</div>
		</div>
	</div>
	<footer>
		<div class="wrapper">
			<figure class="flogo"><a href="/index" class="logo"><img src="/media/1028/footer_logo.jpg" alt="" /></a></figure>
			<nav class="footer">
				<ul>
					<li><a href="/index#what">what is it?</a></li>
					<li><a href="/index#how">how it works</a></li>
					<li><a href="/index#who">who’s it for?</a></li>
					<li><a href="/index/support">support</a></li>
					<li><a href="/index/my-account">my account</a></li>
				</ul>
			</nav>
			<!--<div class="downloadapp">
				  <ul>
					<li><a href="/index/my-account/#/register"><img src="/media/1007/app_btn.png" width="134" height="41" /></a></li>
					<li><img src="/media/1011/apple_app.jpg" width="134" height="41" /></li>
				  </ul>
				</div> -->
			<nav class="bottom">
				<ul>
					<li><a href="/index/terms">terms of use </a></li>
					<li><a href="/index/privacy">privacy policy</a></li>
					<li><a href="javascript:" class="disabled">copyright 2015</a></li>
				</ul>
			</nav>
		</div>
	</footer>
	<div class="beta"></div>

</body>
</html>